.main {
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 600px;
  box-sizing: content-box;

  .title {
    font-stretch: 150%;
  }

  .form {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;

    .button {
      flex-shrink: 0;
    }
  }
}